Callorhinchus callorynchus<br />
Callorhinchus capensis<br />
Callorhinchus milii<br />
Chimaera argiloba<br />
Chimaera bahamaensis<br />
Chimaera cubana<br />
Chimaera fulva<br />
Chimaera jordani<br />
Chimaera lignaria<br />
Chimaera macrospina<br />
Chimaera monstrosa<br />
Chimaera notafricana<br />
Chimaera obscura<br />
Chimaera opalescens<br />
Chimaera owstoni<br />
Chimaera panthera<br />
Chimaera phantasma<br />
Hydrolagus affinis<br />
Hydrolagus africanus<br />
Hydrolagus alberti<br />
Hydrolagus alphus<br />
Hydrolagus barbouri<br />
Hydrolagus bemisi<br />
Hydrolagus colliei<br />
Hydrolagus deani<br />
Hydrolagus eidolon<br />
Hydrolagus homonycteris<br />
Hydrolagus lemures<br />
Hydrolagus lusitanicus<br />
Hydrolagus macrophthalmus<br />
Hydrolagus marmoratus<br />
Hydrolagus matallanasi<br />
Hydrolagus mccoskeri<br />
Hydrolagus melanophasma<br />
Hydrolagus mirabilis<br />
Hydrolagus mitsukurii<br />
Hydrolagus novaezealandiae<br />
Hydrolagus ogilbyi<br />
Hydrolagus pallidus<br />
Hydrolagus purpurescens<br />
Hydrolagus trolli<br />
Harriotta haeckeli<br />
Harriotta raleighana<br />
Neoharriotta carri<br />
Neoharriotta pinnata<br />
Neoharriotta pumila<br />
Rhinochimaera africana<br />
Rhinochimaera atlantica<br />
Rhinochimaera pacifica<br />
Dasyatis acutirostra<br />
Dasyatis akajei<br />
Dasyatis americana<br />
Dasyatis bennetti<br />
Dasyatis brevicaudata<br />
Dasyatis centroura<br />
Dasyatis chrysonota<br />
Dasyatis colarensis<br />
Dasyatis dipterura<br />
Dasyatis fluviorum<br />
Dasyatis garouaensis<br />
Dasyatis geijskesi<br />
Dasyatis gigantea<br />
Dasyatis guttata<br />
Dasyatis hastata<br />
Dasyatis hypostigma<br />
Dasyatis izuensis<br />
Dasyatis laevigata<br />
Dasyatis laosensis<br />
Dasyatis lata<br />
Dasyatis longa<br />
Dasyatis margarita<br />
Dasyatis margaritella<br />
Dasyatis marianae<br />
Dasyatis marmorata<br />
Dasyatis matsubarai<br />
Dasyatis microps<br />
Dasyatis multispinosa<br />
Dasyatis navarrae<br />
Dasyatis parvonigra<br />
Dasyatis pastinaca<br />
Dasyatis rudis<br />
Dasyatis sabina<br />
Dasyatis say<br />
Dasyatis sinensis<br />
Dasyatis thetidis<br />
Dasyatis tortonesei<br />
Dasyatis ushiei<br />
Dasyatis zugei<br />
Himantura astra<br />
Himantura dalyensis<br />
Himantura fai<br />
Himantura gerrardi<br />
Himantura granulata<br />
Himantura hortlei<br />
Himantura imbricata<br />
Himantura jenkinsii<br />
Himantura kittipongi<br />
Himantura leoparda<br />
Himantura lobistoma<br />
Himantura marginata<br />
Himantura oxyrhyncha<br />
Himantura pacifica<br />
Himantura pastinacoides<br />
Himantura polylepis<br />
Himantura randalli<br />
Himantura schmardae<br />
Himantura signifer<br />
Himantura toshi<br />
Himantura uarnacoides<br />
Himantura uarnak<br />
Himantura undulata<br />
Himantura walga<br />
Makararaja chindwinensis<br />
Neotrygon annotata<br />
Neotrygon kuhlii<br />
Neotrygon leylandi<br />
Neotrygon ningalooensis<br />
Neotrygon picta<br />
Pastinachus atrus<br />
Pastinachus gracilicaudus<br />
Pastinachus sephen<br />
Pastinachus solocirostris<br />
Pastinachus stellurostris<br />
Pteroplatytrygon violacea<br />
Taeniura lymma<br />
Taeniurops grabata<br />
Taeniurops meyeni<br />
Urogymnus asperrimus<br />
Urogymnus ukpam<br />
Gymnura afuerae<br />
Gymnura altavela<br />
Gymnura australis<br />
Gymnura bimaculata<br />
Gymnura crebripunctata<br />
Gymnura crooki<br />
Gymnura hirundo<br />
Gymnura japonica<br />
Gymnura marmorata<br />
Gymnura micrura<br />
Gymnura natalensis<br />
Gymnura poecilura<br />
Gymnura tentaculata<br />
Gymnura zonura<br />
Hexatrygon bickelli<br />
Manta alfredi<br />
Manta birostris<br />
Mobula diabolus<br />
Mobula eregoodootenkee<br />
Mobula hypostoma<br />
Mobula japanica<br />
Mobula kuhlii<br />
Mobula mobular<br />
Mobula munkiana<br />
Mobula rochebrunei<br />
Mobula tarapacana<br />
Mobula thurstoni<br />
Aetobatus flagellum<br />
Aetobatus narinari<br />
Aetomylaeus maculatus<br />
Aetomylaeus nichofii<br />
Aetomylaeus vespertilio<br />
Myliobatis aquila<br />
Myliobatis australis<br />
Myliobatis californicus<br />
Myliobatis chilensis<br />
Myliobatis freminvillei<br />
Myliobatis goodei<br />
Myliobatis hamlyni<br />
Myliobatis longirostris<br />
Myliobatis peruvianus<br />
Myliobatis rhombus<br />
Myliobatis ridens<br />
Myliobatis tenuicaudatus<br />
Myliobatis tobijei<br />
Pteromylaeus asperrimus<br />
Pteromylaeus bovinus<br />
Plesiobatis daviesi<br />
Heliotrygon gomesi<br />
Heliotrygon rosai<br />
Paratrygon aiereba<br />
Plesiotrygon iwamae<br />
Plesiotrygon nana<br />
Potamotrygon boesemani<br />
Potamotrygon brachyura<br />
Potamotrygon castexi<br />
Potamotrygon constellata<br />
Potamotrygon dumerilii<br />
Potamotrygon falkneri<br />
Potamotrygon henlei<br />
Potamotrygon histrix<br />
Potamotrygon humerosa<br />
Potamotrygon leopoldi<br />
Potamotrygon magdalenae<br />
Potamotrygon marinae<br />
Potamotrygon motoro<br />
Potamotrygon ocellata<br />
Potamotrygon orbignyi<br />
Potamotrygon schroederi<br />
Potamotrygon schuhmacheri<br />
Potamotrygon scobina<br />
Potamotrygon signata<br />
Potamotrygon tatianae<br />
Potamotrygon tigrina<br />
Potamotrygon yepezi<br />
Rhinoptera adspersa<br />
Rhinoptera bonasus<br />
Rhinoptera brasiliensis<br />
Rhinoptera hainanensis<br />
Rhinoptera javanica<br />
Rhinoptera jayakari<br />
Rhinoptera marginata<br />
Rhinoptera neglecta<br />
Rhinoptera peli<br />
Rhinoptera sewelli<br />
Rhinoptera steindachneri<br />
Trygonoptera galba<br />
Trygonoptera imitata<br />
Trygonoptera mucosa<br />
Trygonoptera ovalis<br />
Trygonoptera personata<br />
Trygonoptera testacea<br />
Urolophus armatus<br />
Urolophus aurantiacus<br />
Urolophus bucculentus<br />
Urolophus circularis<br />
Urolophus cruciatus<br />
Urolophus deforgesi<br />
Urolophus expansus<br />
Urolophus flavomosaicus<br />
Urolophus gigas<br />
Urolophus javanicus<br />
Urolophus kaianus<br />
Urolophus kapalensis<br />
Urolophus lobatus<br />
Urolophus mitosis<br />
Urolophus neocaledoniensis<br />
Urolophus orarius<br />
Urolophus papilio<br />
Urolophus paucimaculatus<br />
Urolophus piperatus<br />
Urolophus sufflavus<br />
Urolophus viridis<br />
Urolophus westraliensis<br />
Urobatis concentricus<br />
Urobatis halleri<br />
Urobatis jamaicensis<br />
Urobatis maculatus<br />
Urobatis marmoratus<br />
Urobatis tumbesensis<br />
Urotrygon aspidura<br />
Urotrygon caudispinosus<br />
Urotrygon chilensis<br />
Urotrygon cimar<br />
Urotrygon microphthalmum<br />
Urotrygon munda<br />
Urotrygon nana<br />
Urotrygon peruanus<br />
Urotrygon reticulata<br />
Urotrygon rogersi<br />
Urotrygon serrula<br />
Urotrygon simulatrix<br />
Urotrygon venezuelae<br />
Anacanthobatis americanus<br />
Anacanthobatis donghaiensis<br />
Anacanthobatis folirostris<br />
Anacanthobatis longirostris<br />
Anacanthobatis marmoratus<br />
Anacanthobatis nanhaiensis<br />
Anacanthobatis ori<br />
Anacanthobatis stenosoma<br />
Cruriraja andamanica<br />
Cruriraja atlantis<br />
Cruriraja cadenati<br />
Cruriraja durbanensis<br />
Cruriraja hulleyi<br />
Cruriraja parcomaculata<br />
Cruriraja poeyi<br />
Cruriraja rugosa<br />
Sinobatis borneensis<br />
Sinobatis bulbicauda<br />
Sinobatis caerulea<br />
Sinobatis filicauda<br />
Sinobatis melanosoma<br />
Arhynchobatis asperrimus<br />
Atlantoraja castelnaui<br />
Atlantoraja cyclophora<br />
Atlantoraja platana<br />
Bathyraja abyssicola<br />
Bathyraja aguja<br />
Bathyraja aleutica<br />
Bathyraja andriashevi<br />
Bathyraja bergi<br />
Bathyraja brachyurops<br />
Bathyraja cousseauae<br />
Bathyraja diplotaenia<br />
Bathyraja eatonii<br />
Bathyraja fedorovi<br />
Bathyraja griseocauda<br />
Bathyraja hesperafricana<br />
Bathyraja irrasa<br />
Bathyraja ishiharai<br />
Bathyraja isotrachys<br />
Bathyraja kincaidii<br />
Bathyraja leucomelanos<br />
Bathyraja lindbergi<br />
Bathyraja longicauda<br />
Bathyraja maccaini<br />
Bathyraja maculata<br />
Bathyraja mariposa<br />
Bathyraja matsubarai<br />
Bathyraja meridionalis<br />
Bathyraja microtrachys<br />
Bathyraja minispinosa<br />
Bathyraja notoroensis<br />
Bathyraja pallida<br />
Bathyraja panthera<br />
Bathyraja papilionifera<br />
Bathyraja parmifera<br />
Bathyraja peruana<br />
Bathyraja richardsoni<br />
Bathyraja scaphiops<br />
Bathyraja schroederi<br />
Bathyraja shuntovi<br />
Bathyraja simoterus<br />
Bathyraja smirnovi<br />
Bathyraja smithii<br />
Bathyraja spinicauda<br />
Bathyraja spinosissima<br />
Bathyraja trachouros<br />
Bathyraja trachura<br />
Bathyraja tunae<br />
Bathyraja tzinovskii<br />
Bathyraja violacea<br />
Brochiraja aenigma<br />
Brochiraja albilabiata<br />
Brochiraja asperula<br />
Brochiraja heuresa<br />
Brochiraja leviveneta<br />
Brochiraja microspinifera<br />
Brochiraja spinifera<br />
Brochiraja vittacauda<br />
Insentiraja laxipella<br />
Insentiraja subtilispinosa<br />
Irolita waitii<br />
Irolita westraliensis<br />
Notoraja alisae<br />
Notoraja azurea<br />
Notoraja fijiensis<br />
Notoraja hirticauda<br />
Notoraja inusitata<br />
Notoraja lira<br />
Notoraja longiventralis<br />
Notoraja ochroderma<br />
Notoraja sapphira<br />
Notoraja sticta<br />
Notoraja tobitukai<br />
Pavoraja alleni<br />
Pavoraja arenaria<br />
Pavoraja mosaica<br />
Pavoraja nitida<br />
Pavoraja pseudonitida<br />
Pavoraja umbrosa<br />
Psammobatis bergi<br />
Psammobatis extenta<br />
Psammobatis lentiginosa<br />
Psammobatis normani<br />
Psammobatis parvacauda<br />
Psammobatis rudis<br />
Psammobatis rutrum<br />
Psammobatis scobina<br />
Pseudoraja fischeri<br />
Rhinoraja albomaculata<br />
Rhinoraja kujiensis<br />
Rhinoraja longicauda<br />
Rhinoraja macloviana<br />
Rhinoraja magellanica<br />
Rhinoraja multispinis<br />
Rhinoraja murrayi<br />
Rhinoraja odai<br />
Rhinoraja taranetzi<br />
Rioraja agassizii<br />
Sympterygia acuta<br />
Sympterygia bonapartii<br />
Sympterygia brevicaudata<br />
Sympterygia lima<br />
Amblyraja badia<br />
Amblyraja doellojuradoi<br />
Amblyraja frerichsi<br />
Amblyraja georgiana<br />
Amblyraja hyperborea<br />
Amblyraja jenseni<br />
Amblyraja radiata<br />
Amblyraja reversa<br />
Amblyraja robertsi<br />
Amblyraja taaf<br />
Breviraja claramaculata<br />
Breviraja colesi<br />
Breviraja nigriventralis<br />
Breviraja spinosa<br />
Dactylobatus armatus<br />
Dactylobatus clarkii<br />
Dentiraja flindersi<br />
Dentiraja lemprieri<br />
Dipturus acrobelus<br />
Dipturus apricus<br />
Dipturus australis<br />
Dipturus batis<br />
Dipturus bullisi<br />
Dipturus campbelli<br />
Dipturus canutus<br />
Dipturus cerva<br />
Dipturus confusus<br />
Dipturus crosnieri<br />
Dipturus doutrei<br />
Dipturus ecuadoriensis<br />
Dipturus endeavouri<br />
Dipturus falloargus<br />
Dipturus flavirostris<br />
Dipturus garricki<br />
Dipturus gigas<br />
Dipturus grahami<br />
Dipturus gudgeri<br />
Dipturus healdi<br />
Dipturus innominatus<br />
Dipturus intermedia<br />
Dipturus johannisdavesi<br />
Dipturus kwangtungensis<br />
Dipturus laevis<br />
Dipturus lanceorostratus<br />
Dipturus leptocaudus<br />
Dipturus macrocauda<br />
Dipturus melanospilus<br />
Dipturus mennii<br />
Dipturus nidarosiensis<br />
Dipturus oculus<br />
Dipturus olseni<br />
Dipturus oregoni<br />
Dipturus oxyrinchus<br />
Dipturus polyommata<br />
Dipturus pullopunctata<br />
Dipturus queenslandicus<br />
Dipturus springeri<br />
Dipturus stenorhynchus<br />
Dipturus teevani<br />
Dipturus tengu<br />
Dipturus trachydermus<br />
Dipturus wengi<br />
Dipturus wuhanlingi<br />
Fenestraja atripinna<br />
Fenestraja cubensis<br />
Fenestraja ishiyamai<br />
Fenestraja maceachrani<br />
Fenestraja mamillidens<br />
Fenestraja plutonia<br />
Fenestraja sibogae<br />
Fenestraja sinusmexicanus<br />
Gurgesiella atlantica<br />
Gurgesiella dorsalifera<br />
Gurgesiella furvescens<br />
Hongeo koreana<br />
Leucoraja caribbaea<br />
Leucoraja circularis<br />
Leucoraja compagnoi<br />
Leucoraja erinacea<br />
Leucoraja fullonica<br />
Leucoraja garmani<br />
Leucoraja lentiginosa<br />
Leucoraja leucosticta<br />
Leucoraja melitensis<br />
Leucoraja naevus<br />
Leucoraja ocellata<br />
Leucoraja pristispina<br />
Leucoraja virginica<br />
Leucoraja wallacei<br />
Leucoraja yucatanensis<br />
Malacoraja kreffti<br />
Malacoraja obscura<br />
Malacoraja senta<br />
Malacoraja spinacidermis<br />
Neoraja africana<br />
Neoraja caerulea<br />
Neoraja carolinensis<br />
Neoraja iberica<br />
Neoraja stehmanni<br />
Okamejei acutispina<br />
Okamejei arafurensis<br />
Okamejei boesemani<br />
Okamejei cairae<br />
Okamejei heemstrai<br />
Okamejei hollandi<br />
Okamejei jensenae<br />
Okamejei kenojei<br />
Okamejei leptoura<br />
Okamejei meerdervoortii<br />
Okamejei mengae<br />
Okamejei philipi<br />
Okamejei pita<br />
Okamejei porosa<br />
Okamejei powelli<br />
Okamejei schmidti<br />
Raja ackleyi<br />
Raja africana<br />
Raja asterias<br />
Raja atriventralis<br />
Raja bahamensis<br />
Beringraja binoculata<br />
Raja brachyura<br />
Raja cervigoni<br />
Raja chinensis<br />
Raja clavata<br />
Raja cortezensis<br />
Raja eglanteria<br />
Raja equatorialis<br />
Raja herwigi<br />
Raja inornata<br />
Raja macrorynchus<br />
Raja maderensis<br />
Raja microocellata<br />
Raja miraletus<br />
Raja montagui<br />
Raja polystigma<br />
Beringraja pulchra<br />
Raja radula<br />
Raja rhina<br />
Raja rondeleti<br />
Raja rouxi<br />
Raja stellulata<br />
Raja straeleni<br />
Raja texana<br />
Raja undulata<br />
Raja velezi<br />
Rajella alia<br />
Rajella annandalei<br />
Rajella barnardi<br />
Rajella bathyphila<br />
Rajella bigelowi<br />
Rajella caudaspinosa<br />
Rajella challengeri<br />
Rajella dissimilis<br />
Rajella eisenhardti<br />
Rajella fuliginea<br />
Rajella fyllae<br />
Rajella kukujevi<br />
Rajella leopardus<br />
Rajella lintea<br />
Rajella nigerrima<br />
Rajella purpuriventralis<br />
Rajella ravidula<br />
Rajella sadowskii<br />
Rostroraja alba<br />
Spiniraja whitleyi<br />
Zearaja argentinensis<br />
Zearaja chilensis<br />
Zearaja maugeana<br />
Zearaja nasuta<br />
Anoxypristis cuspidata<br />
Pristis clavata<br />
Pristis pectinata<br />
Pristis pristis<br />
Pristis zijsron<br />
Rhina ancylostoma<br />
Acroteriobatus annulatus<br />
Acroteriobatus blochii<br />
Acroteriobatus leucospilus<br />
Acroteriobatus ocellatus<br />
Acroteriobatus salalah<br />
Acroteriobatus variegatus<br />
Acroteriobatus zanzibarensis<br />
Aptychotrema rostrata<br />
Aptychotrema timorensis<br />
Aptychotrema vincentiana<br />
Glaucostegus cemiculus<br />
Glaucostegus granulatus<br />
Glaucostegus halavi<br />
Glaucostegus microphthalmus<br />
Glaucostegus obtusus<br />
Glaucostegus spinosus<br />
Glaucostegus thouin<br />
Glaucostegus typus<br />
Rhinobatos albomaculatus<br />
Rhinobatos annandalei<br />
Rhinobatos formosensis<br />
Rhinobatos glaucostigma<br />
Rhinobatos holcorhynchus<br />
Rhinobatos horkelii<br />
Rhinobatos hynnicephalus<br />
Rhinobatos irvinei<br />
Rhinobatos jimbaranensis<br />
Rhinobatos lentiginosus<br />
Rhinobatos leucorhynchus<br />
Rhinobatos lionotus<br />
Rhinobatos nudidorsalis<br />
Rhinobatos penggali<br />
Rhinobatos percellens<br />
Rhinobatos planiceps<br />
Rhinobatos prahli<br />
Rhinobatos productus<br />
Rhinobatos punctifer<br />
Rhinobatos rhinobatos<br />
Rhinobatos sainsburyi<br />
Rhinobatos schlegelii<br />
Trygonorrhina dumerilii<br />
Trygonorrhina fasciata<br />
Trygonorrhina melaleuca<br />
Zapteryx brevirostris<br />
Zapteryx exasperata<br />
Zapteryx xyster<br />
Rhynchobatus australiae<br />
Rhynchobatus djiddensis<br />
Rhynchobatus laevis<br />
Rhynchobatus luebberti<br />
Rhynchobatus palpebratus<br />
Rhynchobatus springeri<br />
Zanobatus schoenleinii<br />
Hypnos monopterygius<br />
Benthobatis kreffti<br />
Benthobatis marcida<br />
Benthobatis moresbyi<br />
Benthobatis yangi<br />
Diplobatis colombiensis<br />
Diplobatis guamachensis<br />
Diplobatis ommata<br />
Diplobatis pictus<br />
Discopyge castelloi<br />
Discopyge tschudii<br />
Narcine atzi<br />
Narcine bancroftii<br />
Narcine bicolor<br />
Narcine brasiliensis<br />
Narcine brevilabiata<br />
Narcine brunnea<br />
Narcine entemedor<br />
Narcine firma<br />
Narcine insolita<br />
Narcine lasti<br />
Narcine leoparda<br />
Narcine lingula<br />
Narcine maculata<br />
Narcine nelsoni<br />
Narcine nigra<br />
Narcine oculifera<br />
Narcine ornata<br />
Narcine prodorsalis<br />
Narcine rierai<br />
Narcine tasmaniensis<br />
Narcine timlei<br />
Narcine vermiculatus<br />
Narcine westraliensis<br />
Crassinarke dormitor<br />
Electrolux addisoni<br />
Heteronarce bentuviai<br />
Heteronarce garmani<br />
Heteronarce mollis<br />
Heteronarce prabhui<br />
Narke capensis<br />
Narke dipterygia<br />
Narke japonica<br />
Temera hardwickii<br />
Typhlonarke aysoni<br />
Typhlonarke tarakea<br />
Platyrhina hyugaensis<br />
Platyrhina sinensis<br />
Platyrhina tangi<br />
Platyrhinoidis triseriata<br />
Torpedo adenensis<br />
Torpedo alexandrinsis<br />
Torpedo andersoni<br />
Torpedo bauchotae<br />
Torpedo californica<br />
Torpedo fairchildi<br />
Torpedo formosa<br />
Torpedo fuscomaculata<br />
Torpedo mackayana<br />
Torpedo macneilli<br />
Torpedo marmorata<br />
Torpedo microdiscus<br />
Torpedo nobiliana<br />
Torpedo panthera<br />
Torpedo peruana<br />
Torpedo polleni<br />
Torpedo puelcha<br />
Torpedo semipelagica<br />
Torpedo sinuspersici<br />
Torpedo suessii<br />
Torpedo tokionis<br />
Torpedo torpedo<br />
Torpedo tremens<br />
Torpedo zugmayeri<br />
Carcharhinus acronotus<br />
Carcharhinus albimarginatus<br />
Carcharhinus altimus<br />
Carcharhinus amblyrhynchoides<br />
Carcharhinus amblyrhynchos<br />
Carcharhinus amboinensis<br />
Carcharhinus borneensis<br />
Carcharhinus brachyurus<br />
Carcharhinus brevipinna<br />
Carcharhinus cautus<br />
Carcharhinus cerdale<br />
Carcharhinus coatesi<br />
Carcharhinus dussumieri<br />
Carcharhinus falciformis<br />
Carcharhinus fitzroyensis<br />
Carcharhinus galapagensis<br />
Carcharhinus hemiodon<br />
Carcharhinus isodon<br />
Carcharhinus leiodon<br />
Carcharhinus leucas<br />
Carcharhinus limbatus<br />
Carcharhinus longimanus<br />
Carcharhinus macloti<br />
Carcharhinus melanopterus<br />
Carcharhinus obscurus<br />
Carcharhinus perezii<br />
Carcharhinus plumbeus<br />
Carcharhinus porosus<br />
Carcharhinus sealei<br />
Carcharhinus signatus<br />
Carcharhinus sorrah<br />
Carcharhinus tilstoni<br />
Carcharhinus tjutjot<br />
Carcharhinus wheeleri<br />
Galeocerdo cuvier<br />
Glyphis fowlerae<br />
Glyphis gangeticus<br />
Glyphis garricki<br />
Glyphis glyphis<br />
Glyphis siamensis<br />
Glyphis sp.1<br />
Isogomphodon oxyrhynchus<br />
Lamiopsis temminckii<br />
Lamiopsis tephrodes<br />
Loxodon macrorhinus<br />
Nasolamia velox<br />
Negaprion acutidens<br />
Negaprion brevirostris<br />
Prionace glauca<br />
Rhizoprionodon acutus<br />
Rhizoprionodon lalandii<br />
Rhizoprionodon longurio<br />
Rhizoprionodon oligolinx<br />
Rhizoprionodon porosus<br />
Rhizoprionodon taylori<br />
Rhizoprionodon terraenovae<br />
Scoliodon laticaudus<br />
Scoliodon macrorhynchos<br />
Triaenodon obesus<br />
Chaenogaleus macrostoma<br />
Hemigaleus australiensis<br />
Hemigaleus microstoma<br />
Hemipristis elongata<br />
Paragaleus leucolomatus<br />
Paragaleus pectoralis<br />
Paragaleus randalli<br />
Paragaleus tengi<br />
Leptocharias smithii<br />
Ctenacis fehlmanni<br />
Eridacnis barbouri<br />
Eridacnis radcliffei<br />
Eridacnis sinuans<br />
Proscyllium habereri<br />
Proscyllium magnificum<br />
Proscyllium venustum<br />
Gollum attenuatus<br />
Gollum suluensis<br />
Planonasus parini<br />
Pseudotriakis microdon<br />
Apristurus albisoma<br />
Apristurus ampliceps<br />
Apristurus aphyodes<br />
Apristurus australis<br />
Apristurus brunneus<br />
Apristurus bucephalus<br />
Apristurus canutus<br />
Apristurus exsanguis<br />
Apristurus fedorovi<br />
Apristurus gibbosus<br />
Apristurus herklotsi<br />
Apristurus indicus<br />
Apristurus internatus<br />
Apristurus investigatoris<br />
Apristurus japonicus<br />
Apristurus kampae<br />
Apristurus laurussonii<br />
Apristurus longicephalus<br />
Apristurus macrorhynchus<br />
Apristurus macrostomus<br />
Apristurus manis<br />
Apristurus melanoasper<br />
Apristurus microps<br />
Apristurus micropterygeus<br />
Apristurus nasutus<br />
Apristurus parvipinnis<br />
Apristurus pinguis<br />
Apristurus platyrhynchus<br />
Apristurus profundorum<br />
Apristurus riveri<br />
Apristurus saldanha<br />
Apristurus sibogae<br />
Apristurus sinensis<br />
Apristurus spongiceps<br />
Apristurus stenseni<br />
Asymbolus analis<br />
Asymbolus funebris<br />
Asymbolus galacticus<br />
Asymbolus occiduus<br />
Asymbolus pallidus<br />
Asymbolus parvus<br />
Asymbolus rubiginosus<br />
Asymbolus submaculatus<br />
Asymbolus vincenti<br />
Atelomycterus baliensis<br />
Atelomycterus fasciatus<br />
Atelomycterus macleayi<br />
Atelomycterus marmoratus<br />
Atelomycterus marnkalha<br />
Aulohalaelurus kanakorum<br />
Aulohalaelurus labiosus<br />
Bythaelurus alcockii<br />
Bythaelurus canescens<br />
Bythaelurus clevai<br />
Bythaelurus dawsoni<br />
Bythaelurus giddingsi<br />
Bythaelurus hispidus<br />
Bythaelurus immaculatus<br />
Bythaelurus incanus<br />
Bythaelurus lutarius<br />
Cephaloscyllium albipinnum<br />
Cephaloscyllium cooki<br />
Cephaloscyllium fasciatum<br />
Cephaloscyllium hiscosellum<br />
Cephaloscyllium isabellum<br />
Cephaloscyllium laticeps<br />
Cephaloscyllium maculatum<br />
Cephaloscyllium pardelotum<br />
Cephaloscyllium pictum<br />
Cephaloscyllium sarawakensis<br />
Cephaloscyllium signourum<br />
Cephaloscyllium silasi<br />
Cephaloscyllium speccum<br />
Cephaloscyllium stevensi<br />
Cephaloscyllium sufflans<br />
Cephaloscyllium umbratile<br />
Cephaloscyllium variegatum<br />
Cephaloscyllium ventriosum<br />
Cephaloscyllium zebrum<br />
Cephalurus cephalus<br />
Figaro boardmani<br />
Figaro striatus<br />
Galeus antillensis<br />
Galeus arae<br />
Galeus atlanticus<br />
Galeus cadenati<br />
Galeus eastmani<br />
Galeus gracilis<br />
Galeus longirostris<br />
Galeus melastomus<br />
Galeus mincaronei<br />
Galeus murinus<br />
Galeus nipponensis<br />
Galeus piperatus<br />
Galeus polli<br />
Galeus priapus<br />
Galeus sauteri<br />
Galeus schultzi<br />
Galeus springeri<br />
Halaelurus boesemani<br />
Halaelurus buergeri<br />
Halaelurus lineatus<br />
Halaelurus maculosus<br />
Halaelurus natalensis<br />
Halaelurus quagga<br />
Halaelurus sellus<br />
Haploblepharus edwardsii<br />
Haploblepharus fuscus<br />
Haploblepharus kistnasamyi<br />
Haploblepharus pictus<br />
Holohalaelurus favus<br />
Holohalaelurus grennian<br />
Holohalaelurus melanostigma<br />
Holohalaelurus punctatus<br />
Holohalaelurus regani<br />
Parmaturus albimarginatus<br />
Parmaturus albipenis<br />
Parmaturus bigus<br />
Parmaturus campechiensis<br />
Parmaturus lanatus<br />
Parmaturus macmillani<br />
Parmaturus melanobranchus<br />
Parmaturus pilosus<br />
Parmaturus sp.<br />
Parmaturus xaniurus<br />
Pentanchus profundicolus<br />
Poroderma africanum<br />
Poroderma pantherinum<br />
Schroederichthys bivius<br />
Schroederichthys chilensis<br />
Schroederichthys maculatus<br />
Schroederichthys saurisqualus<br />
Schroederichthys tenuis<br />
Scyliorhinus besnardi<br />
Scyliorhinus boa<br />
Scyliorhinus canicula<br />
Scyliorhinus capensis<br />
Scyliorhinus cervigoni<br />
Scyliorhinus comoroensis<br />
Scyliorhinus garmani<br />
Scyliorhinus haeckelii<br />
Scyliorhinus hesperius<br />
Scyliorhinus meadi<br />
Scyliorhinus retifer<br />
Scyliorhinus stellaris<br />
Scyliorhinus tokubee<br />
Scyliorhinus torazame<br />
Scyliorhinus torrei<br />
Eusphyra blochii<br />
Sphyrna corona<br />
Sphyrna lewini<br />
Sphyrna media<br />
Sphyrna mokarran<br />
Sphyrna tiburo<br />
Sphyrna tudes<br />
Sphyrna zygaena<br />
Furgaleus macki<br />
Galeorhinus galeus<br />
Gogolia filewoodi<br />
Hemitriakis abdita<br />
Hemitriakis complicofasciata<br />
Hemitriakis falcata<br />
Hemitriakis indroyonoi<br />
Hemitriakis japanica<br />
Hemitriakis leucoperiptera<br />
Hypogaleus hyugaensis<br />
Iago garricki<br />
Iago omanensis<br />
Mustelus albipinnis<br />
Mustelus antarcticus<br />
Mustelus asterias<br />
Mustelus californicus<br />
Mustelus canis<br />
Mustelus dorsalis<br />
Mustelus fasciatus<br />
Mustelus griseus<br />
Mustelus henlei<br />
Mustelus higmani<br />
Mustelus lenticulatus<br />
Mustelus lunulatus<br />
Mustelus manazo<br />
Mustelus mangalorensis<br />
Mustelus mento<br />
Mustelus minicanis<br />
Mustelus mosis<br />
Mustelus mustelus<br />
Mustelus norrisi<br />
Mustelus palumbes<br />
Mustelus punctulatus<br />
Mustelus ravidus<br />
Mustelus schmitti<br />
Mustelus sinusmexicanus<br />
Mustelus stevensi<br />
Mustelus walkeri<br />
Mustelus whitneyi<br />
Mustelus widodoi<br />
Scylliogaleus quecketti<br />
Triakis acutipinna<br />
Triakis maculata<br />
Triakis megalopterus<br />
Triakis scyllium<br />
Triakis semifasciata<br />
Heterodontus francisci<br />
Heterodontus galeatus<br />
Heterodontus japonicus<br />
Heterodontus mexicanus<br />
Heterodontus omanensis<br />
Heterodontus portusjacksoni<br />
Heterodontus quoyi<br />
Heterodontus ramalheira<br />
Heterodontus zebra<br />
Alopias pelagicus<br />
Alopias superciliosus<br />
Alopias vulpinus<br />
Cetorhinus maximus<br />
Carcharodon carcharias<br />
Isurus oxyrinchus<br />
Isurus paucus<br />
Lamna ditropis<br />
Lamna nasus<br />
Megachasma pelagios<br />
Mitsukurina owstoni<br />
Carcharias taurus<br />
Odontaspis ferox<br />
Odontaspis noronhai<br />
Pseudocarcharias kamoharai<br />
Brachaelurus colcloughi<br />
Brachaelurus waddi<br />
Ginglymostoma cirratum<br />
Nebrius ferrugineus<br />
Pseudoginglymostoma brevicaudatum<br />
Chiloscyllium arabicum<br />
Chiloscyllium burmensis<br />
Chiloscyllium griseum<br />
Chiloscyllium hasseltii<br />
Chiloscyllium indicum<br />
Chiloscyllium plagiosum<br />
Chiloscyllium punctatum<br />
Hemiscyllium freycineti<br />
Hemiscyllium galei<br />
Hemiscyllium hallstromi<br />
Hemiscyllium henryi<br />
Hemiscyllium michaeli<br />
Hemiscyllium ocellatum<br />
Hemiscyllium strahani<br />
Hemiscyllium trispeculare<br />
Eucrossorhinus dasypogon<br />
Orectolobus floridus<br />
Orectolobus halei<br />
Orectolobus hutchinsi<br />
Orectolobus japonicus<br />
Orectolobus leptolineatus<br />
Orectolobus maculatus<br />
Orectolobus ornatus<br />
Orectolobus parvimaculatus<br />
Orectolobus reticulatus<br />
Orectolobus wardi<br />
Sutorectus tentaculatus<br />
Cirrhoscyllium expolitum<br />
Cirrhoscyllium formosanum<br />
Cirrhoscyllium japonicum<br />
Parascyllium collare<br />
Parascyllium elongatum<br />
Parascyllium ferrugineum<br />
Parascyllium sparsimaculatum<br />
Parascyllium variolatum<br />
Rhincodon typus<br />
Stegostoma fasciatum<br />
Chlamydoselachus africana<br />
Chlamydoselachus anguineus<br />
Heptranchias perlo<br />
Hexanchus griseus<br />
Hexanchus nakamurai<br />
Hexanchus vitulus<br />
Notorynchus cepedianus<br />
Pliotrema warreni<br />
Pristiophorus cirratus<br />
Pristiophorus delicatus<br />
Pristiophorus japonicus<br />
Pristiophorus nancyae<br />
Pristiophorus nudipinnis<br />
Pristiophorus schroederi<br />
Centrophorus atromarginatus<br />
Centrophorus granulosus<br />
Centrophorus harrissoni<br />
Centrophorus isodon<br />
Centrophorus lusitanicus<br />
Centrophorus moluccensis<br />
Centrophorus seychellorum<br />
Centrophorus squamosus<br />
Centrophorus tessellatus<br />
Centrophorus westraliensis<br />
Centrophorus zeehaani<br />
Deania calcea<br />
Deania hystricosa<br />
Deania profundorum<br />
Deania quadrispinosa<br />
Dalatias licha<br />
Euprotomicroides zantedeschia<br />
Euprotomicrus bispinatus<br />
Heteroscymnoides marleyi<br />
Isistius brasiliensis<br />
Isistius labialis<br />
Isistius plutodus<br />
Mollisquama parini<br />
Squaliolus aliae<br />
Squaliolus laticaudus<br />
Echinorhinus brucus<br />
Echinorhinus cookei<br />
Aculeola nigra<br />
Centroscyllium excelsum<br />
Centroscyllium fabricii<br />
Centroscyllium granulatum<br />
Centroscyllium kamoharai<br />
Centroscyllium nigrum<br />
Centroscyllium ornatum<br />
Centroscyllium ritteri<br />
Etmopterus bigelowi<br />
Etmopterus brachyurus<br />
Etmopterus bullisi<br />
Etmopterus burgessi<br />
Etmopterus carteri<br />
Etmopterus caudistigmus<br />
Etmopterus compagnoi<br />
Etmopterus decacuspidatus<br />
Etmopterus dianthus<br />
Etmopterus dislineatus<br />
Etmopterus evansi<br />
Etmopterus fusus<br />
Etmopterus gracilispinis<br />
Etmopterus granulosus<br />
Etmopterus hillianus<br />
Etmopterus joungi<br />
Etmopterus litvinovi<br />
Etmopterus lucifer<br />
Etmopterus molleri<br />
Etmopterus perryi<br />
Etmopterus polli<br />
Etmopterus princeps<br />
Etmopterus pseudosqualiolus<br />
Etmopterus pusillus<br />
Etmopterus pycnolepis<br />
Etmopterus robinsi<br />
Etmopterus schmidti<br />
Etmopterus schultzi<br />
Etmopterus sculptus<br />
Etmopterus sentosus<br />
Etmopterus sheikoi<br />
Etmopterus spinax<br />
Etmopterus splendidus<br />
Etmopterus unicolor<br />
Etmopterus viator<br />
Etmopterus villosus<br />
Etmopterus virens<br />
Trigonognathus kabeyai<br />
Oxynotus bruniensis<br />
Oxynotus caribbaeus<br />
Oxynotus centrina<br />
Oxynotus japonicus<br />
Oxynotus paradoxus<br />
Centroscymnus coelolepis<br />
Centroscymnus owstonii<br />
Centroselachus crepidater<br />
Proscymnodon macracanthus<br />
Proscymnodon plunketi<br />
Scymnodalatias albicauda<br />
Scymnodalatias garricki<br />
Scymnodalatias oligodon<br />
Scymnodalatias sherwoodi<br />
Scymnodon ringens<br />
Somniosus antarcticus<br />
Somniosus longus<br />
Somniosus microcephalus<br />
Somniosus pacificus<br />
Somniosus rostratus<br />
Zameus ichiharai<br />
Zameus squamulosus<br />
Cirrhigaleus asper<br />
Cirrhigaleus australis<br />
Cirrhigaleus barbifer<br />
Squalus acanthias<br />
Squalus albifrons<br />
Squalus altipinnis<br />
Squalus blainville<br />
Squalus brevirostris<br />
Squalus bucephalus<br />
Squalus chloroculus<br />
Squalus crassispinus<br />
Squalus cubensis<br />
Squalus edmundsi<br />
Squalus formosus<br />
Squalus grahami<br />
Squalus griffini<br />
Squalus hemipinnis<br />
Squalus japonicus<br />
Squalus lalannei<br />
Squalus megalops<br />
Squalus melanurus<br />
Squalus mitsukurii<br />
Squalus montalbani<br />
Squalus nasutus<br />
Squalus notocaudatus<br />
Squalus rancureli<br />
Squalus raoulensis<br />
Squalus suckleyi<br />
Squatina aculeata<br />
Squatina africana<br />
Squatina albipunctata<br />
Squatina argentina<br />
Squatina armata<br />
Squatina australis<br />
Squatina caillieti<br />
Squatina californica<br />
Squatina dumeril<br />
Squatina formosa<br />
Squatina guggenheim<br />
Squatina japonica<br />
Squatina legnota<br />
Squatina nebulosa<br />
Squatina occulta<br />
Squatina oculata<br />
Squatina pseudocellata<br />
Squatina squatina<br />
Squatina tergocellata<br />
Squatina tergocellatoides